APP_PORT=1323
APP_NAME=OnlineStore-API

LOG_LEVEL=info
GORM_LOGGER=info

# This postgres config has been adjusted to docker postgredb container
# If you have another config, please change these below configs based on your needs
POSTGRE_IS_ENABLE=true
POSTGRE_HOST=postgres_db
POSTGRE_PORT=5432
POSTGRE_NAME=online-store-db
POSTGRE_USERNAME=postgres
POSTGRE_PASSWORD=pass
POSTGRE_POOL_SIZE=10
POSTGRE_MAX_IDLE_CONNS=5
POSTGRE_MAX_CONN_LIFETIME=5

JWT_SECRET_KEY=secret